body { background: #caf387; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 26px; display: flex; }
.block-filter-0 { color: #ecf6a5; font-size: 15px; margin-bottom: 5px; }
.block-session-1 { color: #207052; font-size: 17px; margin-bottom: 5px; }
.block-helper-2 { color: #5dd0a2; font-size: 14px; margin-bottom: 5px; }
.block-search-3 { color: #bc9b73; font-size: 20px; margin-bottom: 5px; }
.block-product-4 { color: #ac94d4; font-size: 12px; margin-bottom: 5px; }
.block-shipping-5 { color: #6ddd21; font-size: 19px; margin-bottom: 5px; }